// tailwind setup
@tailwind base;
@tailwind components;
@tailwind utilities;

// vendors
@import "vendors/_ck-editor";
@import "vendors/_floating-vue";
@import "vendors/_v-select";
@import "vendors/_vue-toastification.scss";

// mixins
@import "./mixins/svg-bg-filter";

// additional global styles
body {
  color: theme("colors.gray.800");
  background-color: theme("colors.gray.100");

  strong {
    @apply font-bold;
  }

  a {
    color: theme("colors.blue.500");

    &:hover,
    &:focus {
      color: theme("colors.blue.600");
    }
  }

  .floating-label {
    position: relative;
    margin-top: 0.5rem;

    .floating-label__content {
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      translate: 0.75rem -50%;
      max-width: calc(100% - 1.5rem);
      padding: 0.25rem;
      color: theme("colors.gray.500");
      background-color: theme("colors.white");
    }
  }
}
