// example filter generator: https://codepen.io/sosuke/pen/Pjoqqp
@mixin svg-white-bg() {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

@mixin svg-light-gray-bg() {
  filter: invert(85%) sepia(7%) saturate(331%) hue-rotate(169deg)
    brightness(87%) contrast(83%);
}

@mixin svg-dark-gray-bg() {
  filter: invert(11%) sepia(4%) saturate(2229%) hue-rotate(169deg)
    brightness(91%) contrast(89%);
}

@mixin svg-success-green() {
  filter: invert(46%) sepia(77%) saturate(435%) hue-rotate(82deg)
    brightness(98%) contrast(96%);
}

@mixin svg-link-blue() {
  filter: invert(63%) sepia(8%) saturate(4615%) hue-rotate(185deg)
    brightness(90%) contrast(89%);
}
